
/* in firefox about:config, you must set widget.use-xdg-desktop-portal.file-picker to 0 */
/* to get entry working properly with rounded corners, you must create a gtk.css file in ~/.config/gtk-3.0 and add the css there*/

@define-color primary #FFC067;
@define-color accent #862801;
@define-color bright-accent #ffd48e;
@define-color selected #BE5103;

/* changing rubberbanded or selected colour */
@define-color theme_selected_bg_color #BE5103;
@define-color theme_selected_fg_color #ffffff;
@define-color theme_unfocused_selected_bg_color #BE5103;
@define-color theme_unfocused_selected_fg_color #ffffff;

*{
	font-family:DepartureMono Nerd Font Mono;
}

/***************************  Scrollbars   ***************************/
scrollbar { background-color: transparent; transition: all 100ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

* { -GtkScrollbar-has-backward-stepper: false; -GtkScrollbar-has-forward-stepper: false; }

scrollbar slider { min-width: 8px; min-height: 8px; margin: -1px; border: 4px solid transparent; border-radius: 10px; background-clip: padding-box; background-color: @accent; transition: all 300ms cubic-bezier(0.25, 0.46, 0.45, 0.94); }

scrollbar.overlay-indicator:not(.dragging):not(.hovering) { border-color: transparent; background-color: transparent; }

scrollbar.overlay-indicator:not(.dragging):not(.hovering) slider { margin: 0; min-width: 3px; min-height: 3px; background-color: @accent; border: 1px solid @accent; margin-right:1px;}

scrollbar.overlay-indicator:not(.dragging):not(.hovering) button { min-width: 5px; min-height: 5px; background-color: @primary; background-clip: padding-box; border-radius: 100%; border: 1px solid @accent; -gtk-icon-source: none; }

scrollbar.horizontal slider { min-width: 40px; }

scrollbar.vertical slider { min-height: 40px; }

/********************* Spinner Animation * */
@keyframes spin { to { -gtk-icon-transform: rotate(1turn); } }

spinner { background: none; opacity: 0; -gtk-icon-source: -gtk-icontheme("process-working-symbolic"); }

spinner:backdrop { color: #919190; }

spinner:checked { opacity: 1; animation: spin 1s linear infinite; }

spinner:checked:disabled { opacity: 0.5; }

/************************* Check and Radio items * */
.view.content-view.check:not(list), iconview.content-view.check:not(list), .content-view:not(list) check { margin: 4px; min-width: 32px; min-height: 32px; color: transparent; background-color: #1b6acb; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: none; -gtk-icon-shadow: none; }

.view.content-view.check:hover:not(list), iconview.content-view.check:hover:not(list), .content-view:not(list) check:hover { margin: 4px; min-width: 32px; min-height: 32px; color: transparent; background-color: #1b6acb; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: none; -gtk-icon-shadow: none; }

.view.content-view.check:active:not(list), iconview.content-view.check:active:not(list), .content-view:not(list) check:active { margin: 4px; min-width: 32px; min-height: 32px; color: transparent; background-color: #1b6acb; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: none; -gtk-icon-shadow: none; }

.view.content-view.check:backdrop:not(list), iconview.content-view.check:backdrop:not(list), .content-view:not(list) check:backdrop { margin: 4px; min-width: 32px; min-height: 32px; color: transparent; background-color: #737373; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: none; -gtk-icon-shadow: none; }

.view.content-view.check:checked:not(list), iconview.content-view.check:checked:not(list), .content-view:not(list) check:checked { margin: 4px; min-width: 32px; min-height: 32px; color: #eeeeec; background-color: #1b6acb; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: -gtk-icontheme('object-select-symbolic'); -gtk-icon-shadow: none; }

.view.content-view.check:checked:hover:not(list), iconview.content-view.check:checked:hover:not(list), .content-view:not(list) check:checked:hover { margin: 4px; min-width: 32px; min-height: 32px; color: #eeeeec; background-color: #1b6acb; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: -gtk-icontheme('object-select-symbolic'); -gtk-icon-shadow: none; }

.view.content-view.check:checked:active:not(list), iconview.content-view.check:checked:active:not(list), .content-view:not(list) check:checked:active { margin: 4px; min-width: 32px; min-height: 32px; color: #eeeeec; background-color: #1b6acb; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: -gtk-icontheme('object-select-symbolic'); -gtk-icon-shadow: none; }

.view.content-view.check:backdrop:checked:not(list), iconview.content-view.check:backdrop:checked:not(list), .content-view:not(list) check:backdrop:checked { margin: 4px; min-width: 32px; min-height: 32px; color: rgba(238, 238, 236, 0.8); background-color: #737373; border-radius: 5px; background-image: none; transition: 200ms; box-shadow: none; border-width: 0; -gtk-icon-source: -gtk-icontheme('object-select-symbolic'); -gtk-icon-shadow: none; }

checkbutton.text-button, radiobutton.text-button { padding: 2px 0; outline-offset: 0; }

checkbutton.text-button label:not(:only-child):first-child, radiobutton.text-button label:not(:only-child):first-child { margin-left: 4px; }

checkbutton.text-button label:not(:only-child):last-child, radiobutton.text-button label:not(:only-child):last-child { margin-right: 4px; }

check, radio { margin: 0 4px; min-height: 14px; min-width: 14px; border: 1px solid; -gtk-icon-source: none; }

check:only-child, radio:only-child { margin: 0; }

popover check.left:dir(rtl), popover radio.left:dir(rtl) { margin-left: 0; margin-right: 12px; }

popover check.right:dir(ltr), popover radio.right:dir(ltr) { margin-left: 12px; margin-right: 0; }

check, radio { background-clip: padding-box; background-image: linear-gradient(to bottom, #424242 20%, #353535 90%); border-color: #070707; box-shadow: 0 1px rgba(0, 0, 0, 0.05); color: #eeeeec; }

check:hover, radio:hover { background-image: linear-gradient(to bottom, #4c4c4c 10%, #3f3f3f 90%); }

check:active, radio:active { box-shadow: inset 0 1px 1px 0px black; }

check:disabled, radio:disabled { box-shadow: none; color: rgba(238, 238, 236, 0.7); }

check:backdrop, radio:backdrop { background-image: image(#353535); box-shadow: none; color: #eeeeec; }

check:backdrop:disabled, radio:backdrop:disabled { box-shadow: none; color: rgba(238, 238, 236, 0.7); }

check:checked, radio:checked { background-clip: border-box; background-image: linear-gradient(to bottom, #1f76e1 20%, #1b6acb 90%); border-color: #1b6acb; box-shadow: 0 1px rgba(0, 0, 0, 0.05); color: #ffffff; }

check:checked:hover, radio:checked:hover { background-image: linear-gradient(to bottom, #3181e3 10%, #1e74dd 90%); }

check:checked:active, radio:checked:active { box-shadow: inset 0 1px 1px 0px black; }

check:checked:disabled, radio:checked:disabled { box-shadow: none; color: rgba(255, 255, 255, 0.7); }

check:checked:backdrop, radio:checked:backdrop { background-image: image(#1b6acb); box-shadow: none; color: #ffffff; }

check:checked:backdrop:disabled, radio:checked:backdrop:disabled { box-shadow: none; color: rgba(255, 255, 255, 0.7); }

check:indeterminate, radio:indeterminate { background-clip: border-box; background-image: linear-gradient(to bottom, #1f76e1 20%, #1b6acb 90%); border-color: #1b6acb; box-shadow: 0 1px rgba(0, 0, 0, 0.05); color: #ffffff; }

check:indeterminate:hover, radio:indeterminate:hover { background-image: linear-gradient(to bottom, #3181e3 10%, #1e74dd 90%); }

check:indeterminate:active, radio:indeterminate:active { box-shadow: inset 0 1px 1px 0px black; }

check:indeterminate:disabled, radio:indeterminate:disabled { box-shadow: none; color: rgba(255, 255, 255, 0.7); }

check:indeterminate:backdrop, radio:indeterminate:backdrop { background-image: image(#1b6acb); box-shadow: none; color: #ffffff; }

check:indeterminate:backdrop:disabled, radio:indeterminate:backdrop:disabled { box-shadow: none; color: rgba(255, 255, 255, 0.7); }

check:backdrop, radio:backdrop { transition: 200ms ease-out; }

.osd check, .osd radio { color: #eeeeec; border-color: rgba(0, 0, 0, 0.7); background-color: transparent; background-image: image(rgba(38, 38, 38, 0.9)); background-clip: padding-box; box-shadow: inset 0 1px rgba(255, 255, 255, 0.1); text-shadow: 0 1px black; -gtk-icon-shadow: 0 1px black; outline-color: rgba(238, 238, 236, 0.3); }

.osd check:hover, .osd radio:hover { color: #eeeeec; border-color: rgba(0, 0, 0, 0.7); background-color: transparent; background-image: image(rgba(38, 38, 38, 0.9)); background-clip: padding-box; box-shadow: inset 0 1px rgba(255, 255, 255, 0.1); text-shadow: 0 1px black; -gtk-icon-shadow: 0 1px black; outline-color: rgba(238, 238, 236, 0.3); }

.osd check:active, .osd radio:active { color: white; border-color: rgba(0, 0, 0, 0.7); background-color: transparent; background-image: image(rgba(0, 0, 0, 0.7)); background-clip: padding-box; box-shadow: none; text-shadow: none; -gtk-icon-shadow: none; outline-color: rgba(238, 238, 236, 0.3); }

.osd check:backdrop, .osd radio:backdrop { color: #eeeeec; border-color: rgba(0, 0, 0, 0.7); background-color: transparent; background-image: image(rgba(38, 38, 38, 0.9)); background-clip: padding-box; box-shadow: none; text-shadow: none; -gtk-icon-shadow: none; }

.osd check:disabled, .osd radio:disabled { color: #8a8a89; border-color: rgba(0, 0, 0, 0.7); background-color: transparent; background-image: image(rgba(58, 58, 57, 0.5)); background-clip: padding-box; box-shadow: none; text-shadow: none; -gtk-icon-shadow: none; }

menu menuitem check, menu menuitem radio { margin: 0; }

menu menuitem check, menu menuitem check:hover, menu menuitem check:disabled, menu menuitem check:checked, menu menuitem check:checked:hover, menu menuitem check:checked:disabled, menu menuitem check:indeterminate, menu menuitem check:indeterminate:hover, menu menuitem check:indeterminate:disabled, menu menuitem radio, menu menuitem radio:hover, menu menuitem radio:disabled, menu menuitem radio:checked, menu menuitem radio:checked:hover, menu menuitem radio:checked:disabled, menu menuitem radio:indeterminate, menu menuitem radio:indeterminate:hover, menu menuitem radio:indeterminate:disabled { min-height: 14px; min-width: 14px; background-image: none; background-color: transparent; box-shadow: none; -gtk-icon-shadow: none; color: inherit; border-color: currentColor; }

check { border-radius: 3px; }

check:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/check-symbolic.svg")), -gtk-recolor(url("assets/check-symbolic.symbolic.png"))); }

check:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }

treeview.view radio:selected:focus, treeview.view radio:selected, radio { border-radius: 100%; }

treeview.view radio:checked:selected, radio:checked { -gtk-icon-source: image(-gtk-recolor(url("assets/bullet-symbolic.svg")), -gtk-recolor(url("assets/bullet-symbolic.symbolic.png"))); }

treeview.view radio:indeterminate:selected, radio:indeterminate { -gtk-icon-source: image(-gtk-recolor(url("assets/dash-symbolic.svg")), -gtk-recolor(url("assets/dash-symbolic.symbolic.png"))); }

radio:not(:indeterminate):not(:checked):active:not(:backdrop) { -gtk-icon-transform: scale(0); }

check:not(:indeterminate):not(:checked):active:not(:backdrop) { -gtk-icon-transform: translate(6px, -3px) rotate(-45deg) scaleY(0.2) rotate(45deg) scaleX(0); }

radio:active, check:active { -gtk-icon-transform: scale(0, 1); }

radio:checked:not(:backdrop), radio:indeterminate:not(:backdrop), check:checked:not(:backdrop), check:indeterminate:not(:backdrop) { -gtk-icon-transform: unset; transition: 400ms; }

menu menuitem radio:checked:not(:backdrop), menu menuitem radio:indeterminate:not(:backdrop), menu menuitem check:checked:not(:backdrop), menu menuitem check:indeterminate:not(:backdrop) { transition: none; }

treeview.view check:selected:focus, treeview.view check:selected, treeview.view radio:selected:focus, treeview.view radio:selected { color: #ffffff; }

/****************** Menuitem arrow *****************/

menu menuitem arrow, .menu menuitem arrow, .context-menu menuitem arrow { min-height: 16px; min-width: 16px; }

menu menuitem arrow:dir(ltr), .menu menuitem arrow:dir(ltr), .context-menu menuitem arrow:dir(ltr) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic"); margin-left: 10px; }

menu menuitem arrow:dir(rtl), .menu menuitem arrow:dir(rtl), .context-menu menuitem arrow:dir(rtl) { -gtk-icon-source: -gtk-icontheme("pan-end-symbolic-rtl"); margin-right: 10px; }

menu menuitem label:dir(rtl), menu menuitem label:dir(ltr), .menu menuitem label:dir(rtl), .menu menuitem label:dir(ltr), .context-menu menuitem label:dir(rtl), .context-menu menuitem label:dir(ltr) { color: inherit; }

menu > arrow, .menu > arrow, .context-menu > arrow { border-color: transparent; /*background-color: transparent;*/ background-image: none; box-shadow: inset 0 1px rgba(255, 255, 255, 0); text-shadow: none; -gtk-icon-shadow: none; min-height: 16px; min-width: 16px; padding: 4px; background-color: #2f2f2f; border-radius: 0; }

menu > arrow.top, .menu > arrow.top, .context-menu > arrow.top { margin-top: -4px; border-bottom: 1px solid #404040; border-top-right-radius: 5px; border-top-left-radius: 5px; -gtk-icon-source: -gtk-icontheme("pan-up-symbolic"); }

menu > arrow.bottom, .menu > arrow.bottom, .context-menu > arrow.bottom { margin-top: 8px; margin-bottom: -12px; border-top: 1px solid #404040; border-bottom-right-radius: 5px; border-bottom-left-radius: 5px; -gtk-icon-source: -gtk-icontheme("pan-down-symbolic"); }

menu > arrow:hover, .menu > arrow:hover, .context-menu > arrow:hover { background-color: #404040; }

menu > arrow:backdrop, .menu > arrow:backdrop, .context-menu > arrow:backdrop { background-color: #313131; }

menu > arrow:disabled, .menu > arrow:disabled, .context-menu > arrow:disabled { /*color: transparent; background-color: transparent;*/ border-color: transparent; }


/************ Tooltips */

tooltip.background { background-color: @primary; background-clip: padding-box; border: 1px solid @accent; border-radius:10px; }

tooltip decoration { background-color: transparent; border-radius:10px; }

tooltip * { padding: 4px; background-color: transparent; color: black; }

tooltip.csd decoration { border-radius:10px; box-shadow: none; }

/************ SEASALT */

window{
    background-color:@primary;
}

scrolledwindow, notebook, dialog, button:hover, tabs tab:hover, tabs tab:checked, messagedialog, .view text, statusbar, popover {
    background-color:@primary;
    color:black;
}

header {border-radius:10px; border: 3px @accent solid;}

treeview, entry, filechooser {
    background-color:@bright-accent;
    color:black;
    padding:5px;
}

entry image {
    padding-left:10px;
}

dialog decoration, header, headerbar, selection, toolbar, separator, treeview header button:hover, menuitem:hover, messagedialog decoration, popover *:hover {
    background-color:@accent;
    color:white;
}

separator {
    min-width:1px;
}

button {
    background-color:@accent;
    color:white;
    border-radius:10px;
    padding:10px;
    border:2px solid @accent;
}

button:disabled, menuitem:disabled, popover *:disabled{
	color:grey;
}

button:disabled image {
    opacity: 0.7;
    -gtk-icon-effect: dim;
}

toolbar {
    padding:5px;
}

toolbar button {
    background-color:transparent;
}

treeview header button {
    background-color:transparent;
    color:black;
    border:none;
    border-bottom:1px @accent solid;
    border-right:1px @accent solid;
    border-top:1px @accent solid;
    border-radius:0px;
}

treeview:selected, treeview:active, treeview:checked {
    background-color: @accent;
    color: white;
}

/* fixing filechooser (never used rly ) */

row { padding:10px; } row image { padding-right:20px; } filechooser stack { background-color:@accent ;} filechooser stack button:hover, filechooser stack button:checked { background-color:@primary; color: black; } filechooser stack button image {padding-right:10px;}

menu {
	padding:10px 0px 7px 0px;
    background-color: @primary;
    color: black;
    border-radius:10px;
    border:1px @accent solid;
}

menubar menu{
	padding-top:0px;
	border-radius:0px 0px 10px 10px;
}

menu menuitem {
	padding-right:30px;
}

menuitem window {
	border-radius:0px 0px 10px 10px;
}

menuitem{
    color:black;
	padding:5px;
}

/* rounded corner fixes for right click dialog boxes */
window.popup {
    background-color: transparent;
}

tabs tab {
    margin-left:5px;
    padding:10px;
}

rubberband, .rubberband {
    background-color: rgba(134, 40, 1, 0.3);
    border: 1px solid @accent;
}

/*************** Popovers   *
popover.background { padding: 2px; }

.csd popover.background, popover.background { border: 1px solid #1b1b1b; border-radius: 9px; }

.csd popover.background { background-clip: padding-box; border-color: rgba(0, 0, 0, 0.75); }

popover.background > list, popover.background > .view, popover.background > iconview, popover.background > toolbar { border-style: none; background-color: transparent; }

.csd popover.background.touch-selection, .csd popover.background.magnifier, popover.background.touch-selection, popover.background.magnifier { border: 1px solid rgba(255, 255, 255, 0.1); }

popover.background separator { margin: 3px; color:black; background-color:black; min-height:1px; min-width:1px;}

popover.background list separator { margin: 3px; color:black; background-color:black; min-height:1px; min-width:1px;}
