* {
	all: unset;
	font-family:DepartureMono Nerd Font Mono;
}

@keyframes spin-animation {
  from {
    -gtk-icon-transform: rotate(0deg);
  }
  to {
    -gtk-icon-transform: rotate(360deg);
  }
}

@keyframes reverse-animation {
  from {
    -gtk-icon-transform: rotate(360deg);
  }
  to {
    -gtk-icon-transform: rotate(0deg);
  }
}

/******************** Main bar ***********************/

.info{
	padding-top:10px;
}

.barframe, .barframe.light {
	border-radius:10px;
	background-color:rgba(255,192,103,0.8);
	border: 3px solid #BE5103;
	transition: background-color 200ms ease-in-out;
}

.barframe.dark {
	background-color:rgba(85,85,85,1.0);
	border: 3px solid white;
	transition: background-color 200ms ease-in-out;
	padding-top:0px;
}

/* Clock */
.clock {
	padding-top:5px;
	font-weight:bold;
}

.clock-minute {
	margin-top:-10px;
}



/* Theme ***************/

.theme-ball {
	padding-top:2px;
	animation-name: spin-animation;
  animation-duration: 5s;
  animation-timing-function: linear;
  animation-iteration-count: infinite;
}

.theme-ball.dark{

	animation-name: reverse-animation;
	animation-duration:5s;
	animation-timing-function:linear;
	animation-iteration-count:infinite;
}

/* Player **************/
.player-frame{

	border-radius:5px;
	padding-top:15px;
	padding-bottom:15px;
}

.fantasian-title{
	padding-top:15px;
	padding-bottom:15px;
}

.fantasian-albumart {
    margin-left:1px;
    margin-bottom:-0px;
}

.fantasian-playpause{
    padding:10px 0px 10px 0px;
}


/* Workspace widgets */
.desktop-frame {
    /*border-radius:10px;
    border: 2px solid black;*/
    min-width:36px;
    padding-bottom:10px;
}

.desktop-btn{
    padding:5px 0px 5px 0px;
}

.controlcentre{
	border-radius:10px;
	border: 3px solid #BE5103;
	background-color:rgb(255,192,103);
	color:black;
}

.controlcentre.dark{
	border: 3px solid white;
	background-color:black;
	color:white;
}

/******************** Volume ***********************/

.sidestuff slider {
  all: unset;
  color: #ffd5cd;
}

.metric scale trough highlight {
  background-color: #D35D6E;
  color: #000000;
  border-radius: 10px;
}

.metric scale trough {
  all: unset;
  background-color: #4e4e4e;
  border-radius: 10px;
  min-height: 18px;
  min-width: 100px;

}

/* light mode **************************************/

.clock.light, .player-frame.light{
	color:black;
}

